.landingPage {
  height: 100vh;
  background-image: url(https://images.unsplash.com/photo-1478334044015-53514ea3ec37?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=750&q=80);
  background-size: cover;
  background-repeat: no-repeat;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
